.background {
  background-image: url("cockpit.jpg");
  background-size: contain; /* Makes image cover entire div */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents image repetition */
  width: 100vw;
  height: 100vh;
  margin: -8px;
  border: red solid 2px;
}

.cats {
  font-size: 30px;
  color: rgb(6, 88, 182);
  margin: 20px;
  position: relative;
  z-index: 3;
  border: rgb(0, 207, 214) solid 2px;
}
